<div class="jumbotron text-center">
  <h1>My Package App</h1>
  <p class="lead"> Welcome to My Package App where you can scan all your incoming packages and track them! </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <img src="https://image.flaticon.com/icons/svg/141/141109.svg" width="128" height="128">
    <h3> Dedicated Server </h3>
    <p> Save all your pagcakges to a 24/7 Server! </p>
  </div>
  <div class="col-md-4">
    <img src="https://image.flaticon.com/icons/svg/148/148718.svg" width="128" height="128">
    <h3> Packages Scanning </h3>
    <p> Scan all incoming packages for your institution! </p>
  </div>
  <div class="col-md-4">
    <img src="https://image.flaticon.com/icons/svg/313/313164.svg" width="128" height="128">
    <h3> Tracking </h3>
    <p> Track all your packages! </p>
  </div>
</div>

<br><br><br>

<div class="row">


</div>

<div class="row">

  <div class="col-md-4">
    <img src="https://github.com/sal-git/MyPackage_Android/raw/master/web_image_sources/fJRjUv.gif?raw=true">
    <h3> MyPackage App! </h3>
    <p> Awesome GUI/UX for a great user experience! </p>
  </div>
  <div class="col-md-4">
    <img src="https://github.com/sal-git/MyPackage_Android/raw/master/web_image_sources/pANEmZ.gif?raw=true">
    <h3> Track packages from App </h3>
    <p> Over a dozen different Carriers - from Guangzhou to San Francisco and everything in between </p>
  </div>
  <div class="col-md-4">
    <img src="https://github.com/sal-git/MyPackage_Android/raw/master/web_image_sources/BWbSm1.gif?raw=true">
    <h3> Scan packages with App </h3>
    <p> With the MyPackage app you're able to scan package labels on the fly </p>
  </div>
</div>
